@import url('~normalize.css/normalize.css');

*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/* TODO */

.navbar{
  background-color: black;
}

.navbar-brand>h3{
  color: gold;
  margin-left: 15px;
  margin-bottom: -5px;
  padding-right: 10px;
}

.love{
  width: 50px;
  height: 50px;
  margin-top: -15px;
  margin-bottom: -10px;
}

.navbar-nav{
  width: 100%;
  justify-content: center;
}

.nav-item{
  width: 100%;
  text-align: center;
}

.nav-link:hover{
  border: 2px solid gold;
}

.jumbotron{
  background: url('https://images.unsplash.com/photo-1505496704829-37e28089504e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80') no-repeat 50% 25%;
  background-size: cover;
  overflow: hidden;
  min-height: 400px;
}

.food_story{
  position: center;
  font-size: 50px;
  color: gold;
  outline-style: double;
  text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  padding: 10px;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
}

footer{
  background-color: black;
  clear: both;
  /*position: fixed;
  bottom: 0;*/
  width: 100%;
}

.nav-link{
  color: white;
}

.jumbotron_story{
  background: url("https://images.unsplash.com/photo-1583347664435-7415436be899?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1545&q=80") 40% 50%;
  background-size: cover;
  overflow: hidden;
  min-height: 800px;
}

.jumbotron_story h1{
  text-align: center;
  font-size: 50px;
  color: gold;
  text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  outline-style: double;
  margin-top: 50px;
}

.goda > img{
  float: right;
  height: 200px;
  margin-top: 10px;
  margin-left: 10px;
}

.our_food > img{
  clear: both;
  float: left;
  height: 200px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.history > img {
  clear: both;
  float: right;
  margin: 10px;
  height: 300px;
}

.goda, .our_food, .history{
  margin: 10px;
  clear: both;
}

.jumbotron_contact{
  background: url('https://images.unsplash.com/photo-1527224538127-2104bb71c51b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80') no-repeat 50% 85%;
  background-size: cover;
  overflow: hidden;
  min-height: 400px;
}

.jumbotron_contact h1{
  text-align: center;
  font-size: 50px;
  color: gold;
  text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  outline-style: double;
  margin-top: 50px;
}

.jumbotron_menu{
  background: url('https://images.unsplash.com/photo-1464195643332-1f236b1c2255?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80') 50% 50%;
  background-size: cover;
  overflow: hidden;
  min-height: 400px;
  height: auto;
}

.jumbotron_menu h1{
  text-align: center;
  font-size: 50px;
  color: gold;
  text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  outline-style: double;
  margin-top: 50px;
}

.card-deck{
  margin: 25px;
}

.appetizer, .entre, .dessert, .drink {
  color: gold;
  background-color: black;
  text-align: center;
}


.jumbotron_reserve{
  background: url('https://images.unsplash.com/photo-1549488344-1f9b8d2bd1f3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxzZWFyY2h8MjB8fHJlc3RhdXJhbnR8ZW58MHx8MHw%3D&auto=format&fit=crop&w=1200&q=60') 50% 50%;
  background-size: cover;
  overflow: hidden;
  min-height: 400px;
  height: auto;
}

.jumbotron_reserve h1{
  text-align: center;
  font-size: 50px;
  color: gold;
  text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  outline-style: double;
  margin-top: 50px;
}

.order-form .container {
  color: #4c4c4c;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
}

.order-form-label {
  margin: 8px 0 0 0;
  font-size: 14px;
  font-weight: bold;
}

.order-form-input {
  width: 100%;
  padding: 8px 8px;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2em;
  background-color: transparent;
  border-color: #cccccc;
}

.btn-submit:hover {
  background-color: #090909;
}

.sbtn{
  display: flex;
  justify-content: center;
  width: 50%;
}

.submitbtn{
  clear: both;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  background-color: black;
  border: 2px solid gold;
  width: 200px;
  margin-top: 15px;
}

.reviews{
  padding-bottom: 50px;
  margin-left: 75px;
}

.leavereview{
  margin-right: 75px;
}

#myform{
  margin: 25px;
}